body{
  background-color: rgb(48, 48, 49);
}
@media (max-width: 600px) {  
  body {  
      background-color: rgb(90, 98, 101);  
  }  
  .firsthalf{
      width: 100%;
      float: left;
      
  }
  .secondhalf{
      width:100%;
      float:left;
      
  } 
 
}  


@media (min-width: 1025px) { 
  .firsthalf{
      width: 50%;
      float: left;
      
  }
  
  .secondhalf{
      width:50%;
      float:left;
      
  } 
 
}  


#secondheading{
  color:rgb(237, 237, 244);
  font-size: xx-large;
}


.multiplelabel{
  color: white; 
  font-size:large;
  font-style: italic; 
  margin-top: 5%
}

.nameField{
  width: 90%;
  height: 30px;
  border-radius: 8% ;
  margin-bottom: 3%;
  border-color: black; 
}
#nameField{
  width: 90%;
  height: 30px;
  border-radius: 8% ;
  margin-bottom: 3%;
  border-color: black; 
}

.nameField:hover{
  border: 5px solid #7a9fe8;
}
#nameField:hover{
  border: 5px solid #7a9fe8;
}


.button {
  background-color: #799b8f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 3%;
  border-radius: 12px;
  margin-left: 40%;
}

.button:hover{
  background-color: rgb(82, 144, 219);
  color:black;
}